img {
  width: 70px;
  margin-left: 5%;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  height: 60px;
  box-shadow: 0 2px 10px 0 rgba(36, 50, 66, 0.075);
  z-index: 10;
  font-family: "Roboto Condensed", sans-serif;
}

.nav-main ul {
  display: flex;
}
.nav-main ul li {
  list-style: none;
}
.nav-main ul li a {
  margin: 15px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-main a:hover {
  transition: 300ms;
  color: orangered;
  border-radius: 2px;
}
.menuIcon {
  display: none;
  position: fixed;
  right: 10px;
  top: 5px;
  z-index: 50;
}
img:hover {
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* .show {
  display: block;
} */
@media screen and (max-width: 600px) {
  .nav-main {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    padding: 35px;
    display: flex;
    justify-content: start;
    flex-direction: column;

    transition: 0.5s;
    transform: translateX(-100vw);
    z-index: 15;
  }
  .link-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .responsive_nav {
    transform: none;
    top: 0;
    position: fixed;
  }

  .menuIcon {
    display: block;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  ul li {
    margin: 15px;
  }
}
