.feedback-section {
  width: 100%;
  min-height: 500px;
  padding-top: 30px;
  background: #f5f7fb;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.feedback-section h2 {
  margin-bottom: 40px;
  font-size: 32px;
  color: #222;
}

.carousel {
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.feedback-card {
  width: 100%;
  max-width: 550px;
  min-height: 280px;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;

  animation: fadeIn 0.4s ease;
}

.feedback-card img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.stars {
  color: #ffb400;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.feedback-card p {
  color: #555;
  line-height: 1.7;
  font-size: 17px;
  margin: 0 0 20px;
}

.feedback-card h3 {
  margin: 0 0 5px;
  color: #222;
}

.feedback-card span {
  color: #888;
  font-size: 14px;
}

.arrow {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: #3589e2;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
}

.arrow:hover {
  /* background: #555; */
  opacity: 0.8;
  transform: scale(1.08);
}

.dots {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  width: 25px;
  border-radius: 10px;
  background: #3589e2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 600px) {
  .feedback-section h2 {
    font-size: 25px;
  }

  .carousel {
    gap: 10px;
  }

  .feedback-card {
    padding: 25px 20px;
    min-height: 300px;
  }

  .arrow {
    width: 38px;
    height: 38px;
  }
}
