.footer-main {
  color: black;
  height: auto;
  /* border: 1px solid red; */
  text-align: center;
  background-color: whitesmoke;
  padding-top: 50px;
  /* border: 1px solid red; */
}

.footer-main img {
  width: 60%;
}
.footer-link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 1px solid blue; */
  height: 200px;
}

.links-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links-div a {
  text-decoration: none;
  color: #0a5eb8;
  font-size: 20px;
}

.links-div a:hover {
  color: orangered;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
  height: 100px;
}
.social-icon .fa-brands {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.social-icon .fa-brands:hover {
  opacity: 0.7;
  color: white;
}

.social-icon .fa-facebook {
  background: #3b5998;
  color: white;
}

.social-icon .fa-linkedin {
  background: #007bb5;
  color: white;
}

.social-icon .fa-instagram {
  /* background: #125688; */
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d62976 60%,
    #962fbf 90%
  );

  color: white;
}

.social-icon .fa-tiktok {
  background: black;
  color: white;
   
}
@media screen and (max-width: 600px) {
  .footer-link {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* border: 1px solid blue; */
    height: auto;
  }
  .links-div {
    margin-bottom: 40px;
  }
}
